@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: teal;
}

* {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}
